<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>248480785912-942mnj12t0bmu4mf6jrlf6fc2vj4r5ar.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.248480785912-942mnj12t0bmu4mf6jrlf6fc2vj4r5ar</string>
	<key>API_KEY</key>
	<string>AIzaSyB59UmMMo2sirkigZvmwDGonZheBL_cLd4</string>
	<key>GCM_SENDER_ID</key>
	<string>248480785912</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.personal1.Instagram</string>
	<key>PROJECT_ID</key>
	<string>instagram-6ce4e</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-6ce4e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:248480785912:ios:31a041532735d3d2b9620d</string>
</dict>
</plist>